name: Run Smartup Autotests

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 21 * * *'  # Har kuni soat 02:00 Tashkent vaqti (UTC+5 = 21:00 UTC)

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pytest with Allure
      env:
        USERPROFILE: ${{ env.HOME }}
      run: |
        pytest -m regression

    - name: Upload Allure results
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: allure-results

    env:
      EMAIL_COMPANY: ${{ secrets.EMAIL_COMPANY }}
      PASSWORD_COMPANY: ${{ secrets.PASSWORD_COMPANY }}
      CODE_INPUT: ${{ secrets.CODE_INPUT }}
      URL: ${{ secrets.URL }}
      PASSWORD_USER: ${{ secrets.PASSWORD_USER }}
